<h1>New To do</h1>

<form action="/todos" class="form-inline" method="POST">
  <input type="text" class="input-xlarge" id="todo_content" placeholder="Todo item" name="content">
  <button type="submit" class="btn btn-primary">Add Todo item</button>
</form>

